services:
  caddy:
    image: caddy:2
    restart: unless-stopped
    depends_on:
      - web
    network_mode: host
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
volumes:
  caddy_data:
  caddy_config:

networks:
  slimy-network:
    external: false
